#month, #dialog, #editEventDialog {
    display: none;
}

h1 {
    text-align: center;
}

#addEventForm {
    margin-bottom: 1rem;
}

#transactionType label {
    width: 50%;
    margin-bottom: 1rem;
}

#frequency {
    text-align: center;
    margin-bottom: 1rem;
}

#recurringValues {
    text-align: left;
}

input, button {
    margin-bottom: 1rem;
    width: 100%;
}

#deleteTab {
    text-align: center;
    margin: 0 auto;
}

#editEvent {
    width: 80%;
    margin-left: 10%;
}