#monthButton, #dialog {
    display: none;
}

h1 {
    text-align: center;
}

#addForm {
    margin-bottom: 1rem;
}

#editType label, #addType label {
    width: 50%;
    margin-bottom: 1rem;
}

/*#incomeLabel span {
    background-color: green;
    color: white;
}

#expenseLabel span {
    background-color: red;
    color: white;
}*/

#addFrequency {
    text-align: center;
    margin-bottom: 1rem;
}

#addFrequency label {
    width: 16.5%;
    margin-bottom: 1rem;
}

#values {
    text-align: left;
}

input, #monthButton {
    width: 100%;
    margin-bottom: 1rem;
}

#deleteTab {
    text-align: center;
    margin: 0 auto;
}

#editButton {
    width: 90%;
    margin-left: 5%;
}

#addButton {
    width: 100%;
    margin-bottom: 1rem;

}